
body, ul, li, div, a, dl, dd, dt, img, input, label, h3 {
    padding: 0;
    margin: 0;
}
body {
    background-color: #232323;
    color: #000000;
}
#main {
    width: 1260px;
    background-color: #DEDEDE;
    margin: 0 auto;
}
p {
    text-indent: 2em;
    line-height: 1.5em;
    font-size: 18px;
}
/*header*/
.header, .footer {
    width:100%;
    height: 60px;
    background-color: #333;
    font-size: 13px;
}
.header .title {
    float: left;
    width: 130px;
    height: 44px;
    text-indent: -9999px;
    background: url(../images/baidu_logo.png) no-repeat;
    margin: 10px 60px;
}
.header ul {
    float: right;
}
.header ul li {
    width: 79px;
    height: 60px;
    line-height: 60px;
    float: left;
    margin-left: 30px;
}
.header ul li a {
    text-decoration: none;
    color: #fff;
}
.header ul li:hover a {
    color: #938F90;
}
/*content*/
.content {
    margin: 22px;
    position: absolute;
}

.left{
    float: left;
    width: auto;
    margin-right: 420px;
}
.right{
    position: relative;
    width: 400px;
    float: right;
    margin-left: -400px;
}


.con_article1, .con_article2, .con_article3, .con_article4, .con_imgs {
    overflow: auto;

    padding: 20px;
    box-shadow: 2px 2px 1px black;
    margin-bottom: 20px;
    background-color: #FFFFFF;
}
.content .author, .content h3 {
    color: gray;
}
.con_article1 .author a, .con_article2 .author a,.con_article3 .author a {
    text-decoration: none;
    color: gray;
}
/*.con_article2*/
.con_article2 ul {
    margin-left: 20px;
}
.con_article2 ul li {
    list-style-type: none;
    margin-top: 10px;
}
/*.con_imgs*/
.con_imgs dl {
    margin-left: 40px;
    font-size: 13px;
}
.con_imgs img {
    width: 100px;
    height: 80px;
    margin-top: 5px;
}
.con_imgs dd {
    /*ͼƬ����*/
    float: left;
    margin-left: 20px;

    width: 100px;
    height: 100px;
    padding: 10px;
    text-align: center;
    border: 1px solid gray;
    margin-bottom: 20px;
}
/*.con_article3*/
.con_article3 ol li {
    font-weight: bold;
    margin-bottom: 10px;
}
.con_article3 table caption {
    text-align: left;
}
table,tr,td {
    border: 1px solid #CCCCCC;
    border-collapse: collapse;
}
.con_article3 table {
    /*�������Ӧ*/
    width: 100%;
    height: 150px;
}
.con_article3 table thead {
    background-color: #333333;
    color: #fff;
}
.con_article3 table tfoot {
    background-color: #ccc;
}
/*.con_siderbar*/
.con_article4 div.form_opts {
    margin-bottom: 10px;
}
.con_article4 label {
    float: left;
    width: 40%;
    text-align: right;
}
.con_article4 div.form_tips {
    margin-left: 40%;
    margin-bottom: 10px;
}
div.btn {
    text-align: center;
}
button {
    width: 300px;
    height: 40px;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    background-color: blue;
}

/*�������*/
.content:after{
    content: "";
    visibility: hidden;
    display: block;
    font-size: 0;
    line-height: 0;
    clear: both;
}
/*footer ok*/
.footer {
    text-align: center;
    font-weight: bold;
    color: #E4FFDA;
    background-color: #000000;
}
.footer p {
    line-height: 60px;
}